#flip {
  width: 30%;
  height: 300px;
  background-image: url("https://images.pexels.com/photos/6785279/pexels-photo-6785279.jpeg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

#flip:hover {
  background-image: url("https://live.staticflickr.com/8138/29099429912_0659caf55b_b.jpg");
}
